
  
  th.mat-header-cell {
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
  }
  
  td.mat-cell {
    text-align: center;
  }
  
  button.mat-icon-button {
    margin: 0 5px;
  }

  .small-btn {
    width:30px;
    height: 30px;
  }

  .small-btn .small-icon {
    font-size: 15px;
  }

  .btn-add{
    width: auto;
    float: right;

  }
  
.mat-column-actions {
  width: 1%;
  white-space: nowrap;
  margin-left: auto;
}

.ul-caracteristiques{
  padding-left: 15px;
}

app-loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}